/* order */
#container #areaR {
	_text-align: center;
}

#container #areaR #contents {
	width: 750px;
	margin: 32px 35px 0;
}

#container #areaR #contents .contents_center {
	width: 592px;
	margin: 0 auto;
}

#container #areaR .titleS {
	margin-bottom: 40px;
}

#container #areaR .alignL {
	text-align: left;
	margin: 5px;
}

#container #areaR .alignC {
	text-align: center;
	margin: 5px;
}

#container #areaR .alignR {
	text-align: right;
	margin: 5px;
}

#container #areaR .orderTable {
	width: 590px;
	border: 0;
	empty-cells: show;

	color: #000;
}

#container #areaR .orderTable table {
	width: 590px;
	border: 0;
	empty-cells: show;

	color: #000;
}

#container #areaR .orderTable table th,
#container #areaR .orderTable table td {
	border: 1px solid #666;
	vertical-align: middle;
}

#container #areaR .orderTable table td input {
	vertical-align: middle;
}

#container #areaR .orderTable table td .partsA {
	padding: 3px 0;
}

#container #areaR .orderTable table td .partsB {
	padding-top: 3px;
}

#container #areaR .orderTable img {
	vertical-align: bottom;
}

#container #areaR .orderTable .booksTable {
	width: 570px;
	margin: 10px;
}

#container #areaR .orderTable .selBooks {
	margin: 2px 0 2px 20px;
}

#container #areaR .orderTable .selBooks select {
	width: 95%;
	*width: 100%;
	_width: 90%;
}

#container #areaR .orderTable .selBooks_num {
	margin: 2px 0 2px 5px;
}

#container #areaR .orderTable textarea {
	margin: 8px;
	width: 325px;
	height: 40px;
}

/* thanks */
#container #areaR .toHome {
	width: 590px;
	margin-top: 20px;
	border: 1px solid #666666;
	overflow: hidden;
}

#container #areaR .toHome a {
	float: right;
	padding: 5px;
}
